@import "./reset.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

:root {
  --mainColor: #2e6ff2;
  --fontMain: #121314;
  --fontGray: #47494d;
  --bgLightBlue: #dee8ff;
  --fontLightGray: #8d9299;
  --point: #bcdbff;
  --bgColor: #f3f5fa;
  --borderColor: #d9dbe0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Pretendard";
  letter-spacing: -0.2px;
  color: #47494d;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 0 20px;
  position: fixed;
  z-index: 5;
  background-color: #ffe494;
}

header .nav-list {
  display: flex;
  gap: 32px;
}

main section {
  padding: 200px 0;
  width: 100%;
  margin: auto;
  height: 100vh;
  min-height: fit-content;
}

#home {
  background-color: #ffe494;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#home .tit-descript {
  font-size: 80px;
  font-weight: 200;
  line-height: 1.2;
  white-space: nowrap;
}
#home .tit-descript strong {
  font-size: 120px;
  line-height: 1;
  font-weight: 700;
}
#home .profile-img {
  width: 500px;
}

#home .scroll-link {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
}
.scroll-link img {
  width: 32px;
}

main .tit {
  color: #ff3440;
  font-size: 60px;
  font-weight: 800;
  line-height: 1.5;
}
#about {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#about p {
  text-align: center;
  font-size: 16px;
}
#about .descript {
  font-size: 32px;
  line-height: 1.2;
}
#about .additional-info {
  line-height: 1.4;
}

#activity {
  padding: 160px 0 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#activity .activ-list {
  list-style: inherit;
  padding-left: 32px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}
.activ-list li {
  display: flex;
  align-items: center;
  gap: 12px;
}
.activ-list li .activ-tit {
  font-size: 22px;
  line-height: 1.4;
}
#activity .activ-img-list {
  display: flex;
  gap: 72px;
  overflow: scroll;
  width: 100%;
  padding: 24px 0;
}
.activ-img-list img {
  width: 400px;
  border-radius: 20px;
}
.activ-img-list img.sup {
  box-shadow: 12px 12px 0 0 gold;
}
.activ-img-list img.work {
  box-shadow: 12px 12px 0 0 orangered;
}
.activ-img-list img.schor {
  box-shadow: 12px 12px 0 0 orange;
}

#contact {
  padding: 200px 0 0;
  width: 80%;
  height: Calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#contact .contact-cont {
  padding: 50px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: #dee8ff;
  border-radius: 20px;
}
#contact .tit {
  font-size: 36px;
  font-weight: 400;
  color: inherit;
}

.contact-cont .descript {
  font-size: 14px;
  width: 80%;
}

.contact-box {
  margin-left: auto;
  display: flex;
  gap: 24px;
}
.contact-box div {
  margin: 60px 0 0;
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: white;
  padding: 12px 24px;
  border-radius: 50px;
}
.contact-box img {
  width: 18px;
  height: 18px;
}
footer {
  margin: auto;
  width: Calc(100% - 20px);
  height: 72px;
  position: relative;
  border-top: 1px solid #8d9299;
}

footer small {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #8d9299;
}
